* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: \5FAE\8F6F\96C5\9ED1,\534E\6587\9ED1\4F53,DengXian,Tahoma,Arial;
    line-height: 1.7em;
    color: #FFFFFF;
    font-size: 13px;
    background: #1f8dd6;
}

h1 {
    color: #34495e;
}

a{
    color:#ffffff;
    text-decoration:none;
    border-bottom:dotted 1px;
}
a:hover{
    color:#49bf9d;
    border-bottom-color:#49bf9d;
    text-decoration:none
}

.splash-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.note{
    font-style:italic;
    padding-bottom: 4em;
}

@media (min-width: 48em) {
    body {
        font-size: 16px;
    }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 180%;
    }
}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}